.container-error{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    

    h1{
        color: #939393;
        font-weight: bold;
        font-size: 3em;
    }

    img{
        position: absolute;
        margin-bottom: 30px;
        bottom: 0;
    }
}