.container-error{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: #545454;
        font-weight: bold;
        font-size: 3em;
        
        span{
            font-size: 0.5em;
        }
    }

    p{
        width: 90%;
        text-align: center;
        color: #000;
        font-weight: bold;
        margin-bottom: 50px;
    }

    img{
        margin-bottom: 30px;
        bottom: 0;
    }

    .button_return{
        background-color: #05C6F1;
        color: #fff;
        padding: 10px 20px;
        margin-bottom: 50px;
        font-weight: bold;
        border-radius: 10px;
    }

    .logo_error{
        position: absolute;
    }
}