.navBar{
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 5px 9px -3px rgb(44, 44, 44);
    -moz-box-shadow: 0px 5px 9px -3px rgb(44, 44, 44);
    box-shadow: 0px 5px 9px -3px rgb(44, 44, 44);
    position: absolute;
    padding: 20px 10px;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;

    .link{
        text-decoration: none;
        color: #000  ;
        font-size: 1.3em;
        font-weight: bold;
    }

    .selected{
        color: #70BF4B;
    }
}